.nav {
    width: 100%;
    background-color: red;
    height: auto;
    display: flex;
    padding: 0 5%;
    box-sizing: border-box;
    position: fixed;
}

.nav > * {
    flex-grow: 1;
}

.logo {
    margin: 15px;
    min-height: 35px;
    min-width: 130px;
    background-image: url(../images/GoEastLogotypeWhite.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.navList {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
}

.navList > li {
    padding: 10px 20px 10px 10px;
    color: white;
    flex-grow: 1;
    text-align: right;
}

:global(body){
    margin: 0;
}

:global(:root){
    font-family: "source-han-sans-simplified-c", sans-serif;
    font-size: 16px;
}
